
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482680259056'); /* IE9*/
  src: url('iconfont.eot?t=1482680259056#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482680259056') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482680259056') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482680259056#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before { content: "\e600"; }

.icon-facebook:before { content: "\e616"; }

.icon-dianhua:before { content: "\e61b"; }

.icon-youxiang:before { content: "\e61d"; }

.icon-shouyezhuyetubiao04:before { content: "\e603"; }

.icon-xihebiaozhunyuanjian439:before { content: "\e601"; }

.icon-zuojiantou:before { content: "\e604"; }

.icon-shuaxin1:before { content: "\e631"; }

.icon-chanpinzhanshi:before { content: "\e606"; }

.icon-xiaoyedeng:before { content: "\e684"; }

.icon-huazhuangpin:before { content: "\e647"; }

.icon-icontwiter:before { content: "\e612"; }

.icon-user-address:before { content: "\e672"; }

