<section class="content">
    <div class="container">
        <div class="row">
            <div class="top-content">
                <h1 class="content-top-title">
                    ABOUT US
                </h1>
                <div class="content-top-body mb50">
                    <div class="row">
                        <div class="homeP col-xs-12 col-md-7 col-lg-7 about">
                            <p>
                                Grabe Engineering Co,Limited was founded in 2016, although it’s a new company, all of our staffs have worked in the industry
                                of custom moulding for more than 5 years, good communication and in time response can save a lot
                                of your business time, affordable price and high quality will give you an edge over your competitors,
                                7*24h after sale service makes sure all deals guaranteed. We don’t just do the job, we take pride
                                in what we do and the results we produce.</p>
                            <p>
                                We offer a range of services, from a concept, to full design and production management, to producing complete products on
                                a regular basis or for one-off requirements. Our in-house machines (laser cutting, drilling, polishing,
                                bending, silkscreen printing and engraving) allow us to offer a wide range of requirements, as well
                                as CNC and 3D printer can provide rapid prototyping for any other particular parts.</p>
                            <p>
                                Our clients come from a diverse spectrum of markets, including Advertisement, Cosmetic and Consumer Electronics. We never
                                do one shot business, long term business relationship is our target.</p>
                            <p>
                                If you require a personalised, approachable and reliable service in the industry, please contact us and we will be happy
                                to provide you with a quotation or any advice you require.
                            </p>
                        </div>
                        <div class="homeImg col-xs-12 col-md-4 col-lg-4">
                            <img src="img/about.jpg" alt=""/>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>