<section class="content">
	<div class="container">
		<div class="row">
			<div class="top-content">
				<h1 class="content-top-title text-center">
					Welcome To Grabe
				</h1>

				<div class="content-top-body">
					<h4>
						Grabe is a tight knit and professional team, and as a leading acrylic products company in China,<br>

						<span>we successfully rival global competition because:</span></h4>

					<div class="row">
						<p class="homeP col-xs-12 col-md-7 col-lg-7">
							1)  We take every order seriously, no matter small or big. <br/> 2)  Our lead times are much shorter than any other companies.<br/>


							3)  We can offer extremely low MOQs (minimum order quantities),10~20 pcs.<br/> 4)  Our prices are extremely competitive.<br/>


							5)  We maintain high standards of quality control.<br/> 6)  We can quickly refine a design as required.<br/>



							7)  All of our material comply with EU standard. <br/>8)  Safe packaging to make sure the goods not to be damaged in any shipping.
						</p>
						<div class="homeImg col-xs-12 col-md-5 col-lg-4">
							<img src="img/homePro.jpg" alt=""/>
						</div>
					</div>

					<div>
						<!--<a class="btn btn-info btn-readmore" href="http://www.kayendee.com.au/about-us.aspx" title="Read More">Read More</a></div>-->
				</div>
			</div>

		</div>
	</div>
</section>
<section class="ourservice">
	<div class="container">
		<div class="row">
			<div class="header-inner text-center">
				<div class="sec-title">
					<h2>OUR SERVICES</h2>
					<p>
						We offer a range of services, from a concept, to full design and production management, to producing complete products on
						a regular basis or for one-off requirements. Our in-house machines (laser cutting, drilling, polishing, bending, silkscreen
						printing and engraving) allow us to offer a wide range of requirements, as well as CNC and 3D printer can provide rapid
						prototyping for any other special parts.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 service">
				<div class="service-detail">
					<div class="serv1 diamond">
						<!--<img src="img/serv1.png">-->
						<i class="icon iconfont icon-chanpinzhanshi"></i>
					</div>
					<strong>Acrylic Sign Holder</strong>

					<p>
						Whatever it be slanted (L-shape) or vertical (T-shape) units, we customize it as per your requirements as well as assist you to get it better.</p>
					<a ui-sref="products" title="Read More">Read More...</a></div>
				<div class="down-triangle">
					&nbsp;</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 service">
				<div class="service-detail">
					<div class="serv2 diamond">
						<!--<img src="img/serv2.png">-->
						<i class="icon iconfont icon-huazhuangpin"></i>
					</div>
					<strong>Acrylic Cosmetics Display</strong>

					<p>
						Strictly depends on the dimensions or usage to customize it and make sure it’s economic and particular.</p>
					<a ui-sref="products" title="Read More">Read More...</a></div>
				<div class="down-triangle">
					&nbsp;</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 service">
				<div class="service-detail">
					<div class="serv3 diamond">
						<!--<img src="img/serv3.png">-->
						<i class="icon iconfont icon-xiaoyedeng"></i>
					</div>
					<strong>Acrylic 3D LED illusion Night Light</strong>

					<p>Just send a picture you want, then our CAD engineer converts it into CAD file and pass it on to you for confirmation, if it works, then get the production started.</p>
					<a ui-sref="products" title="Read More">Read More...</a></div>
				<div class="down-triangle">
					&nbsp;</div>
			</div>
		</div>
	</div>
</section>