<section class="content">
    <div class="container">
        <div class="row">
            <div class="top-content">
                <h1 class="content-top-title">
                    OUR PROCESS
                </h1>
                <div class="content-top-body">
                    <h4>1) Form</h4>
                    <p>
                        What shape are your widgets? This will be determined by function and limited by the restrictions of the manufacturing processes
                        available.
                    </p>
                    <h4>
                        2) Technical drawing or Concept only ?
                    </h4>
                    <p>
                        Do you have a technical drawing? If you do not have it, we can assist you to work out a sketch as per the concept.
                    </p>
                    <h4>
                        3) Material
                    </h4>
                    <p>
                        Material choice is determined mostly by form, function and cost.
                    </p>
                    <h4>
                        4) Prototyping and quality assurance
                    </h4>
                    <p>
                        We’re pleased to provide a couple of samples for quality assurance before moving on to mass production, of course it may
                        cause sample cost, but would be refunded to you when we get the mass production started.
                    </p>
                    <h4>
                        5) Final production
                    </h4>
                    <p>
                        Once sample confirmed, we will get the mass production started and update the accurate lead time to you.
                    </p>
                    <h4>
                        6) Shipment
                    </h4>
                    <p>
                        As per your requirements, we can assist you to ship the goods, by sea, by air or International Express.
                    </p>
                    <h4>
                        7) After sale
                    </h4>
                    <p class="mb50">
                        Our working time is 7*24h, any question or quality issues just contact us at your convenience.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>