<section class="content product">
    <div class="container">
        <div class="row">
            <div class="top-content">
                <h1 class="content-top-title">
                    OUR PRODUCTS
                </h1>
                <div class="content-top-body">
                    <h4> 1) Acrylic Sign Holder</h4>
                    <p class="mb15">
                        The whole standard types we have in stock, of course we’re pleased to assist you to custom your own type if required.
                    </p>
                    <div class="clearfix mb50">
                        <div class="fright yewul">
                            <div class="zuo1 icon iconfont icon-zuojiantou"></div>
                            <div class="you1 icon iconfont icon-shouyezhuyetubiao04"></div>
                            <div class="yewul1">
                                <ul class="qc" id="lshape">
                                    <li><a title="点击放大图片" href="javascript:;"><span>L-Shape A4</span><img src="img/lShape/la4.jpg"/></a></li>
                                    <li><a title="点击放大图片" href="javascript:;"><span>L-Shape A5</span><img src="img/lShape/la5.jpg"/></a></li>
                                    <li><a title="点击放大图片" href="javascript:;"><span>L-Shape A6</span><img src="img/lShape/la6.jpg"/></a></li>
                                </ul>
                            </div>
                        </div>
                        <p><b>Type A- L-Shape:</b> <br>Spec:A4 <br>Spec:A5<br> Spec:A6<br> Customized: Accept</p>
                    </div>


                    <div class="clearfix">
                        <div class="fright yewul">
                            <div class="zuo2 icon iconfont icon-zuojiantou"></div>
                            <div class="you2 icon iconfont icon-shouyezhuyetubiao04"></div>
                            <div class="yewul2">
                                <ul class="qc" id="tshape">
                                    <li><a title="点击放大图片" href="javascript:;"><span>T-Shape A4</span><img src="img/tShape/ta4.jpg"/></a></li>
                                    <li><a title="点击放大图片" href="javascript:;"><span>T-Shape A5</span><img src="img/tShape/ta5.jpg"/></a></li>
                                    <li><a title="点击放大图片" href="javascript:;"><span>T-Shape A6</span><img src="img/tShape/ta6.jpg"/></a></li>
                                </ul>
                            </div>
                        </div>
                        <p><b>Type B- T-Shape:</b><br> Spec:A4 <br>Spec:A5<br> Spec:A6<br> Customized:Accept</p>
                    </div>
                    <h4>
                        2) Acrylic Cosmetics Display
                    </h4>
                    <p class="mb15">
                        We have professional design team for all cosmetics displays you want, even though you do not have a sketch, just show us
                        what stuff you want to display.
                    </p>
                    <div class="yewul">
                        <div class="zuo3 icon iconfont icon-zuojiantou"></div>
                        <div class="you3 icon iconfont icon-shouyezhuyetubiao04"></div>
                        <div class="yewul3">
                            <ul class="qc" id="cos">
                                <li><a title="点击放大图片" href="javascript:;"><span>Stand type acrylic nail polish bottle holder display</span><img src="img/cos/1.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Step type acrylic nail polish bottle display</span><img src="img/cos/2.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Wall mounted acrylic display</span><img src="img/cos/3.jpg"/></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>
                        3) Acrylic 3D LED illusion Night Light
                    </h4>
                    <p class="mb15">
                        It’s a creative product we developed in 2015, the idea came from a concept that ensoul an ordinary lamp, as well as get it
                        personalized, for now we can make any graphics as you want, and it’s also very easy and fast, just
                        one photo from you, and 3 days for producing it.
                    </p>
                    <div class="yewul mb50">
                        <div class="zuo4 icon iconfont icon-zuojiantou"></div>
                        <div class="you4 icon iconfont icon-shouyezhuyetubiao04"></div>
                        <div class="yewul4">
                            <ul class="qc" id="led">
                                <li><a title="点击放大图片" href="javascript:;"><span>Jesus in white</span><img src="img/3d/Jesus in white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Jesus in warm white</span><img src="img/3d/Jesus in warm white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Saint Mary in white</span><img src="img/3d/Saint Mary in white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Saint Mary in warm</span><img src="img/3d/Saint Mary in warm white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Arch Angel in white</span><img src="img/3d/Arch Angel in white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Arch Angel in warm</span><img src="img/3d/Arch Angel in warm white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Cross in white</span><img src="img/3d/Cross in white.jpg"/></a></li>
                                <li><a title="点击放大图片" href="javascript:;"><span>Cross in warm</span><img src="img/3d/Cross in warm white.jpg"/></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div id="mask">
    <img class="img" id="maskImg" src="" alt="" />
</div>



